<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Movies Browser</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {{!-- <li class="nav-item active">
                        <button type="button" class="btn-info">
                            <a class="nav-link" href="/signup">Signup <span class="sr-only">(current)</span></a>
                        </button>
                    </li> --}}
                    <li class="nav-item">
                        <button type="button" class="btn-info">
                            <a class="nav-link" href="/signup">Signup</a>
                        </button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn-info">
                            <a class="nav-link" href="/login">Login</a>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>