<style>
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        text-align: center;
    }
</style>
<div class="container">
    <h1>{{pageTitle}}: {{#if error}}{{error}}{{/if}}</h1>
</div>
