<style>
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        text-align: center;
        background: blanchedalmond;
    }

    .login-container {
        margin-top: 50px;
        padding: 20px;
    }

    .login-header h2 {
        color: #007bff;
    }

    .login-form {
        max-width: 400px;
        margin: 0 auto;
    }

    .login-form .form-group label {
        font-weight: bold;
    }

    .login-form input[type="text"],
    .login-form input[type="password"] {
        border-radius: 20px;
    }

    .login-form button[type="submit"] {
        border-radius: 20px;
    }

    .login-form button[type="submit"]:hover {
        background-color: #28a745;
    }
</style>
<div class="container login-container">
    <div class="login-form">
        <div class="login-header mb-5">
            <h2>Login</h2>
        </div>
        <form id="loginForm">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password">
            </div>
            <button type="submit" class="btn btn-block btn-info">Login</button>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const loginForm = document.getElementById('loginForm');

        loginForm.addEventListener('submit', async function (event) {
            event.preventDefault();

            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            try {
                const response = await fetch('/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ username, password })
                });

                if (response.ok) {
                    const { token } = await response.json();
                    if (token) {
                        // Set token as a cookie
                        document.cookie = `token=${token}; path=/; max-age=3600`; // Expires in 1 hour
                        window.location.replace('/api/Movies?page=1&perPage=8&title=');
                    }
                } else {
                    const data = await response.json();
                    alert(`Login failed: ${data.error}`);
                }
            } catch (error) {
                console.error('Login failed:', error);
            }
        });
    });
</script>